@charset "utf-8";

body {
	margin: 0;
}

div.wrap {
	margin: 0 auto;
	width: 600px;
	height: 700px;
}
h1 {
	text-align: center;
}
button {
	display: block;
	position: relative;
	left: 50%;
	margin-left: -29px;
	padding: 3px 16px;
	margin-bottom: 19px; 
	background-color: #FFFC00;
	border-color: #FF0000;
	border-radius: 5px;
}
.panel {
	position: relative;
	width: 600px;
	height: 400px;
	border: 1px solid #4A4DDC;
	background: url('../images/sea.jpg') no-repeat 100%;
}
.fish {
	position: absolute;
	top: 10px;
	left: 10px;
}